Repository UPRI-NOAH/noah-frontend, pull requests merged in 2024-06, with the labels that each got.

#378 feat(eq): color for seismic offline and change color when simulate data button is clicked
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.html
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.scss
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.spec.ts
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.ts
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.html
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.scss
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.spec.ts
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/components/qc-sensors-group/qc-sensors-group.component.ts
  src/app/features/noah-playground/noah-playground.module.ts
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.html
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.ts
  src/app/features/noah-playground/services/earthquake-data.service.ts
  src/app/features/noah-playground/services/modal.service.ts
  src/app/features/noah-playground/services/noah-playground.service.ts
  src/app/features/noah-playground/store/noah-playground.store.ts
  src/app/shared/components/summary-earthquake/summary-earthquake.component.html
  src/app/shared/components/summary-earthquake/summary-earthquake.component.scss
  src/app/shared/components/summary-earthquake/summary-earthquake.component.spec.ts
  src/app/shared/components/summary-earthquake/summary-earthquake.component.ts
  src/app/shared/pipes/search-eq-location.pipe.spec.ts
  src/app/shared/pipes/search-eq-location.pipe.ts
  src/app/shared/shared.module.ts
Labels: noah

#379 feat(eq): display data in summary dashboard for earthquake demo simulation
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.html
  src/app/features/noah-playground/services/earthquake-data.service.ts
  src/app/shared/components/summary-earthquake/summary-earthquake.component.html
  src/app/shared/components/summary-earthquake/summary-earthquake.component.ts
  src/app/shared/pipes/search-eq-location.pipe.ts
Labels: enhancement, noah

#380 fix(eq): display of data value in dashboard
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.html
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.html
  src/app/shared/components/summary-earthquake/summary-earthquake.component.html
Labels: enhancement, noah

#381 fix(eq): for demo
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.html
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.ts
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.html
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/services/modal.service.ts
  src/app/shared/components/summary-earthquake/summary-earthquake.component.html
Labels: noah

#382 fix(eq): dashboard data
  src/app/shared/components/summary-earthquake/summary-earthquake.component.html
Labels: enhancement

#383 fix(noah-studio): text color for boundaries and displaying hazard when mapstyle change
  src/app/features/noah-playground/components/map-playground/map-playground.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
Labels: noah
