Repository UPRI-NOAH/noah-frontend, pull requests merged in 2024-05, with the labels that each got.

#375 feat(earthquake): displaying earthquake burst new points
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.html
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/services/earthquake-data.service.ts
  src/app/features/noah-playground/services/noah-playground.service.ts
  src/app/features/noah-playground/store/noah-playground.store.ts
Labels: noah

#367 feat(noah): create staging for new feature
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.html
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.scss
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.spec.ts
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.ts
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.html
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.scss
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.spec.ts
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/components/qc-sensors-group/qc-sensors-group.component.ts
  src/app/features/noah-playground/components/risk-assessment-modal/risk-assessment-modal.component.html
  src/app/features/noah-playground/components/risk-assessment-modal/risk-assessment-modal.component.scss
  src/app/features/noah-playground/noah-playground.module.ts
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.html
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.ts
  src/app/features/noah-playground/services/modal.service.ts
  src/app/features/noah-playground/services/noah-playground.service.ts
  src/app/features/noah-playground/services/qc-login.service.ts
  src/app/features/noah-playground/store/noah-playground.store.ts
  src/app/shared/components/login/login.component.html
  src/app/shared/components/login/login.component.ts
  src/app/shared/components/qc-login/qc-login.component.html
  src/app/shared/components/qc-login/qc-login.component.ts
Labels: enhancement, qc-iot, noah

#376 fix(4as): summary modal UI and button archived
  src/app/features/noah-playground/components/risk-assessment-modal/risk-assessment-modal.component.html
Labels: bug, 4as
