Repository UPRI-NOAH/noah-frontend, pull requests merged in 2024-04, with the labels that each got.

#366 feat(noah): add new feature for Barangay boundaries
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.html
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.scss
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.spec.ts
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.ts
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.html
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.scss
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.spec.ts
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/noah-playground.module.ts
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.html
  src/app/features/noah-playground/services/noah-playground.service.ts
  src/app/features/noah-playground/store/noah-playground.store.ts
Labels: enhancement, Epic, noah

#365 feat(login): IoT login and logout
  src/app/features/noah-playground/components/map-playground/map-playground.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/components/qc-sensors-group/qc-sensors-group.component.ts
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.html
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.ts
  src/app/features/noah-playground/services/modal.service.ts
  src/app/features/noah-playground/services/qc-login.service.ts
  src/app/features/noah-playground/services/risk-assessment.service.ts
  src/app/shared/components/login/login.component.html
  src/app/shared/components/login/login.component.ts
  src/app/shared/components/qc-login/qc-login.component.html
  src/app/shared/components/qc-login/qc-login.component.ts
Labels: qc-iot

#369 feat(login): toggle boundaries and devs account
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.html
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.ts
  src/app/features/noah-playground/services/qc-login.service.ts
  src/app/shared/components/login/login.component.ts
  src/app/shared/components/qc-login/qc-login.component.ts
Labels: qc-iot

#370 feat(noah): add municipal and provincial boundaries
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/store/noah-playground.store.ts
Labels: enhancement, noah

#372 fix(noah): administrative boundaries popup and legend
  src/app/features/noah-playground/components/boundaries-group/boundaries-group.component.html
  src/app/features/noah-playground/components/boundaries-solo/boundaries-solo.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
Labels: noah

#374 feat(noah): new feature earthquake real time changing data color of a circle earthquake
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.html
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.scss
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.spec.ts
  src/app/features/noah-playground/components/earthquake-group/earthquake-group.component.ts
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.html
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.scss
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.spec.ts
  src/app/features/noah-playground/components/earthquake-solo/earthquake-solo.component.ts
  src/app/features/noah-playground/components/map-playground/map-playground.component.html
  src/app/features/noah-playground/components/map-playground/map-playground.component.ts
  src/app/features/noah-playground/noah-playground.module.ts
  src/app/features/noah-playground/pages/noah-playground/noah-playground.component.html
  src/app/features/noah-playground/services/earthquake-data.service.ts
  src/app/features/noah-playground/services/noah-playground.service.ts
  src/app/features/noah-playground/store/noah-playground.store.ts
Labels: Epic, noah
